@media screen and (max-width:500px) {
    h1 {
        font-size: 3.5em;
    }
}

@media screen and (max-width:700px) {
    h2 {
        font-size: 1.4em;
    }
    .form {
        height: 100vh;
    }

    table {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    tbody {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    td {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:910px) {
    img {
        display: none;
    }
    main {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
   
}

@media screen and (min-width:700px) {
    main {
        margin: 40px;
    }
}