*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    background-color: #FCD0B0;
    color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: .7s ease;
}

h1 {
    font-size: 4.8em;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
}

main {
    background-color: #3D6D6D;
    width: 80%;
    height: 90%;
    border-radius: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s ease;
}

.content {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-start {
    background-color: #FCD0B0;
    color: black;
    font-size: 1.5em;
    width: 320px;
    height: 80px;
    border-radius: 10px;
    border: none;
    align-self: center;
}

.btn-start:hover {
    cursor: pointer;
    background-color: #d4aa8b;
}

.link {
    color: white;
    fill: currentColor;
    width:70px;
    height: 70px;
}

.character {
    left: 84%;
    top: 42%;
    position: absolute;
    width: 12%;
}

.fade-out {
    animation: fadeout .7s ease;
}


@keyframes fadeout {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}